body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

#app {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}